@page
@model ShoppingCart.Service.Pages.CartModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Cart</h1>

<p>
    Your Order (#) @Html.DisplayFor(modelItem => modelItem.Order.Id)
    <a asp-page="/AddItem">Add item to cart</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Item.Price)
            </th>
            <th>
                Delete Item
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderItem item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Price)
                </td>
                <td>
                    <a asp-page="/Cart" asp-page-handler="remove" asp-route-id="@(item.Item.Id)">Remove Item</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="/Cart" asp-page-handler="delete">Delete Cart</a><br/><br/>
<a asp-page="/Cart" asp-page-handler="purchase">PURCHASE</a>
