@page
@model ShoppingCart.Service.Pages.CartModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Cart</h1>

<p>
    Your Order (#) @Html.DisplayFor(modelItem => modelItem.Order.Id)
    <a asp-page="/AddItem">Add item to cart</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Item.Name)
            </th>
            <th>
                Count
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Item.Price)
            </th>
            <th>
                Delete Item
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemGroup in Model.Items.GroupBy(x=>x.Item.Id))
        {
        <tr>
            <td>
                @(itemGroup.First().Item.Name)
            </td>
            <td>
                @(itemGroup.Count())
            </td>
            <td>
                @(itemGroup.Sum(x => x.Item.Price))
            </td>
            <td>
                <a asp-page="/Cart" asp-page-handler="remove" asp-route-id="@(itemGroup.First().Id)">Remove Item</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a asp-page="/Cart" asp-page-handler="delete">Delete Cart</a><br/><br/>
<a asp-page="/Cart" asp-page-handler="purchase">PURCHASE</a>
